body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #b90e0a;
    padding: 20px;
}

.logo-svg {
    width: 60%;
}

.navegacao {
    margin-top: 20px;
    text-align: right;
}

.navegacao ul li {
    display: inline-block;
    margin-left: 10px;
}

.navegacao ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.navegacao ul li a:hover {
    border-bottom: 2px solid #fff;
}

.introducao {
    width: 100%;
    height: 400px;
    background: url('pizza-bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
}

.introducao h1 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.introducao p {
    font-size: 24px;
}

.introducao a {
    color: #fff;
    text-decoration: none;
    background-color: #238a1d;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    margin-top: 100px;
}